{% extends "analyzer/base.html" %}
{% block content %}
<h1 class="plain-title">Otras perspectivas sobre<br>este tema</h1>
<p class="lead">Mismo tema, diferentes perspectivas</p>
<div class="bias-tabs"><a class="active">LEFT</a><a>CENTER</a><a>RIGHT</a></div>
<div class="article-list">
  {% for item in perspectives %}
    <article class="panel article-card">
      <div class="card-top">
        <span class="logo {{ item.accent }}">{{ item.brand }}</span>
        <b>{{ item.source }}</b>
        <em>{{ item.orientation }}</em>
      </div>
      <h2>{{ item.title }}</h2>
      <p>{{ item.date }}</p>
      <a class="outline-button" href="{% url 'analyzer:article' %}">Leer articulo</a>
    </article>
  {% endfor %}
</div>
{% endblock %}
